<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div ng-include="'webui/views/common/header.html'"></div>

<div class="jumbotron">
    <h2 class="text-center">Cadastro de Coleção</h2>
    <h4 class="text-center" ng-show="collection.CdCollection" >Coleção nº {{collection.CdCollection}} </h4>
</div>

<p ng-show="warningMessage.length" class="alert alert-warning text-center">{{warningMessage}}</p>
<p ng-show="successMessage.length" class="alert alert-success text-center">{{successMessage}}</p>

<form novalidate name="form" class="row" ng-submit="save()">
    <div class="col-md-3"></div>

    <div class="col-md-6">
        <div class="form-group">
            <label>Tipo</label>

            <select name="Type" class="form-control" ng-disabled="collection.CdCollection"
                    ng-model="collection.Type" required>
                <option></option>
                <option>Livro</option>
                <option>CD</option>
                <option>DVD</option>
            </select>
            <span ng-show="form.$submitted && form.Type.$error.required"
                  class="form-control alert-danger">
                Campo obrigatório
            </span>
        </div>
        <div class="form-group">
            <label>Descrição</label>
            <input name="Description" class="form-control"
                   ng-model="collection.Description" required>
            <span ng-show="form.$submitted && form.Description.$error.required"
                  class="form-control alert-danger">
                Campo obrigatório
            </span>
        </div>

        <div class="form-group ">
            <label>Localização</label>
            <input name="Location" class="form-control"
                  ng-model="collection.Location" required />

            <span ng-show="form.$submitted && form.Location.$error.required"
                  class="form-control alert-danger">
                Campo obrigatório
            </span>
        </div>
        <div class="form-group ">
            <label>Emprestada para</label>
            <input name="Name" class="form-control" ng-required="collection.User.Contact"
                   ng-model="collection.User.Name" />
        </div>

        <div class="form-group ">
            <label>Contato</label>
            <input name="Contact" class="form-control" ng-
                   ng-model="collection.User.Contact" ng-required="collection.User.Name"
                    /> <!--ng-disabled="!collection.User.Name"-->
            <span ng-show="form.$submitted && form.Contact.$error.required && !form.Name"
                  class="form-control alert-danger">
                Campo obrigatório
            </span>
        </div>

        <div class="form-group text-right">
            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid || isDisabled">
                Salvar
            </button>
            <button type="button" class="btn btn-danger" ng-disabled="isDisabled" ng-click="deleteCollection(collection.CdCollection)" ng-show="collection.CdCollection">
                Excluir
            </button>
            <a href="#/list" class="btn btn-primary">Voltar</a>
        </div>
    </div>
</form>
<div ng-include="'webui/views/common/footer.html'"></div>