<!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
<div ng-include="'webui/views/common/header.html'"></div>

<div class="jumbotron">
    <h2 class="text-center">Collections</h2>
</div>

<p ng-show="warningMessage.length" class="alert alert-warning text-center">{{warningMessage}}</p>

<div class="container">
    <div class="col-md-4 center"></div>
    <div class="col-md-4 center">
        {{collections}}
    </div>
    <div class="col-md-4 center"></div>
</div>
<div ng-include="'webui/views/common/footer.html'"></div>